/*Html Reset, this will set all values to a known minimum! */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */






.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr .25fr .25fr 1fr 1.5fr 0.125fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav site-header site-header"
      "nav sec-header sec-header"
      "announcement announcement announcement"
      "announcement announcement announcement"
      "introduction introduction Curated-Links"
      "footer footer footer";
    border: 1px solid black;
    font-family: "Nova_Square", sans-serif;
  }
  
  .nav { grid-area: nav;
    text-align: center;
    font-size:200%;
  
  }
  
  .site-header { grid-area: site-header;
    text-align: center;
  
  }
  .site-header h1 {font-size:200%;}

  .site-header img {border-radius: 50%;}
  
  .sec-header { grid-area: sec-header;
    text-align: center;
    text-shadow: black 1px 0 10px;
  }
  
  .announcement { grid-area: announcement; }
  
  .Curated-Links { grid-area: Curated-Links;
    text-align: center;
  }
  
  .introduction { grid-area: introduction; }
  
  .footer { grid-area: footer; 
    text-align: center;
  }
  
  div {
    border: 1px solid black;
  }
  
/*Begin Tablet Code */
  @media only screen and (max-width: 800px) {
    
    body {
      font-size: 90%;
    }
  }
  /* Begin Phone code */
  @media only screen and (max-width: 667px) {
    .container {
      grid-template: repeat(5, auto) / 1fr;
      grid-template-areas:
        "site-header"
        "sec-header"
        "nav"
        "announcement"
        "introduction"
        "Curated-Links"
        "footer";
    }
    #nav_menu {
      display: none;
    }
    #mobile_menu {
      display: block;
      grid-area: navi;
    }
    header h2 {
      font-size: 200%;
    }
    section {
      padding-left: 5%;
    }
    aside {
      padding: 0 5% 1em 5%;
    }
    #nav_list ul {
      padding: 0 30%;
    }
  }
  